body {
  font-family: Arial, sans-serif;
  margin: 10px;
}

h1, h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 14px;
  margin-bottom: 5px;
  word-break: break-all;
}

button {
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* リアルタイムカウント表示用 */
#realtime-count-display {
  display: none;
}
